<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table id="trips" class="table table-bordered">
  <thead>
    <tr>
      <th>Departure</th>
      <th>Departure time</th>
      <th>Arrival</th>
      <th>Arrival time</th>
      <th>Number of seats</th>
      <th>Actions</th>

    </tr>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.departure %></td>
        <td><%= trip.departure_time %></td>
        <td><%= trip.arrival %></td>
        <td><%= trip.arrival_time %></td>
        <td><%= trip.available_seats.count %></td>
        <td>
        <% if user_signed_in? && current_user.has_role?(:admin) %>
          <%= link_to 'Edit', edit_trip_path(trip) %>
          <%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
              <%= link_to 'Buy a ticket', trip %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.has_role?(:admin) %>
  <%= link_to 'New Trip', new_trip_path %>
<% end %>